---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const books = await getCollection("books");
const pageTitle = "Book Reccomendations";
---
<Layout pageTitle={pageTitle}>
    <h2>Book Reccomendations</h2>
    <ul role="list" class="link-card-grid">
        {books.map((card) => <Card 
            url={`/books/${card.slug}/`} 
            image={card.data.image.url} 
            title={card.data.title} 
            body={card.data.description}
        />)}
    </ul>
</Layout>

